.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.heroHeading {
  font-size: var(--text-40);
  color: var(--black-04);
  margin-top: 20px;
  margin-bottom: 0;
}

.heroSubHeading {
  font-size: var(--text-20);
  color: var(--black-03);
  width: 60%;
  margin: 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  padding: 30px 30px;
}

.project-card-alt {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 30px 0px;
  padding: 30px 30px;
}

.project-card-alt:hover {
  box-shadow: 0px 0px 20px rgb(214, 214, 214);
  transition: 0.4s;
  padding: 30px 30px;
  border-radius: 10px;
}

.project-card:hover {
  box-shadow: 0px 0px 20px rgb(214, 214, 214);
  transition: 0.4s;
  padding: 30px 30px;
  border-radius: 10px;
}

.content-container {
  width: 30%;
}

.project-title {
  font-size: var(--text-28);
}
.project-description {
  font-size: var(--text-16);
}

.project-link {
  text-decoration: none;
  font-size: var(--text-14);
  color: inherit;
}

.project-image {
  width: 480px;
  z-index: -1;
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology-used-container {
  display: flex;
  margin: 15px 0px;
}
.technology-item {
  background-color: #ffb8b8;
  border-radius: 30px;
  font-size: var(--text-12);
  padding: 2px 10px;
  margin-left: 5px;
}

.primary-button {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}

.secondary-button {
  color: var(--black-03);
  padding: 8px 15px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid var(--black-03);
  margin-right: 10px;
}

.back-link {
  color: black;
}

@media only screen and (max-width: 600px) {
  .heroHeading {
    font-size: var(--text-20);
  }
  .heroSubHeading {
    font-size: var(--text-16);
    width: 90%;
  }
  .projects-container {
    align-items: center;
  }
  .project-card {
    flex-direction: column-reverse;
  }
  .project-card-alt {
    flex-direction: column-reverse;
  }
  .project-image {
    width: 250px;
  }
  .content-container {
    width: 100%;
    text-align: center;
  }
  .technology-used-container {
    justify-content: center;
  }
}
